body {
	background-color: #d6d6d6;
	font-family: Palatino, serif;
	font-size: 11px;
}

.title {
	font-size: 17px;
	font-weight: bold;
	color: #eee;
}

.block {
	width: 400px;
	position: absolute;
	padding: 0px;
	padding-bottom: 23px;
    background-color: #303030;
}

.bigblock {
	width: 800px;
	position: absolute;
	padding: 0px;
	padding-bottom: 23px;
    background-color: #303030;
}

.hardware {
	background-color: #4d4c4c;
}

.modname {
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	padding-left:89px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #eee;
}

.modname:hover{
	background-color: #969696;
}

.inputs {
	width: 78px;
	float: left;
	margin-left: 2px;
	font-size: 11px;
	background-color: #1a1a1a;
	color: #eee;
}

.outputs {
	width: 78px;
	float: right;
	margin-right: 2px;
	text-align: right;
	font-size: 11px;
	background-color: #1a1a1a;
	color: #eee;
}

.state {
	padding: 0 83px 0 83px;
	color: #eee;
}

.uidiv {
	width: 396px;
	padding-top: 5px;
	margin-left: 2px;
	margin-right: 2px;
	float: left;
}

textarea {
	resize: none;
}

/*
.state li:hover {
	background-color: #303030;
}
*/

.state input {
	background-color: #1a1a1a;
	color: #fcd17b;
	font-size: 12px;
	width: 70%;
	margin-bottom: 2px;
	float: right;
	border: 1px solid black;
	border-radius: 3px;
}

.dg.a {
	margin-right: 0px;
}

.clear {
	clear: both;
}

#nav {
	padding: 5px;
	padding-right: 15px;
	background-color: #303030;
	color: #eee;
	font-size: 15px;
	position:absolute;
	z-index: 1000;
}

#nav a{
	color: #eee;
}

ul {
	list-style-type: none;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	color: #eee;
	padding: 7px 0 7px 0;
}

li {
	list-style-type: none;
	font-weight: normal;
	font-style: none;
	color: #eee;
	font-size: 12px;
	padding: 7px 5px 6px 5px;
}

li:hover{
	background-color: #969696;
}

li:active{
	background-color: #d1d1d1;
}

#moduleMenu {
	position: absolute;
	width: 245px;
	padding: 10px;
    background-color: #303030;
}

#programMenu {
	position: absolute;
	width: 245px;
	padding: 10px;
    background-color: #303030;
}

#perModuleMenu {
	position: absolute;
	width: 80px;
	padding: 3px;
    background-color: #303030;
}